<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JS G3n1u5</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../public/images/favicon.ico" type="image/x-icon">

  <!-- Font Family -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="../../public/styles/main.css">
  <link rel="stylesheet" href="../../public/styles/partials/landing.css">
</head>
<body id="page-landing">
  <div id="container">
    <div class="ranking-container">
      <a class="ranking" href="ranking.html">
        <img src="../../public/images/icons/ranking.svg" alt="Classificação"/>
      </a>
    </div>
    <div class="logo-container">
      <img src="../../public/images/logo.svg" alt="JS G3n1u5"/>
    </div>
    <div class="button-container">
      <a class="start-game" href="start-game.html">
        Iniciar Jogo
      </a>
    </div>
  </div>
</body>
</html>